<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>项目经验 Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">百度前端技术学院春季班</h3>
                            <div class="time">2016.3-2016.5</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://github.com/krystalcl/task_7.git">click</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <span class="project-next-title">项目简介：</span>
                        <span class="project-tagline">面向大学生的前端技术学习平台，春季班布置了50多项任务，由浅入深的带领学生学习前端知识。</span></br>
                        <span class="project-next-title">开发语言：</span>
                        <span class="project-tagline">HTML、CSS、Javascript</span></br>
                        <span class="project-next-title">
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">3D效果图片展示</h3>
                            <div class="time">2016.12-2017.1</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="https://github.com/krystalcl/gallery.git">click</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <span class="project-next-title">项目简介：</span>
                        <span class="project-tagline">使用CSS3、HTML5的技术，实现图片翻面，正面是图片，背面是图片简介，实现了图片在制定框内的随机分布</span></br>
                        <span class="project-next-title">开发语言：</span>
                        <span class="project-tagline">HTML、CSS、Javascript、JQuery</span></br>
                        <span class="project-next-title">
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">南湖呓语</h3>
                            <div class="time">2017.2-2017.3</div>
                        </div><!--//upper-row-->
                        <div class="company"><a href="#">click</a></div>
                    </div><!--//meta-->
                    <div class="details">
                        <span class="project-next-title">项目简介：</span>
                        <span class="project-tagline">湖工大在线隶属于湖北工业大学网络中心，南湖呓语是湖工大在线的在线论坛</span></br>
                        <span class="project-next-title">开发语言：</span>
                        <span class="project-tagline">HTML、CSS、Javascript、JQuery</span></br>
                        <span class="project-next-title">使用技术：</span>
                        <span class="project-tagline">docker容器技术、get请求渲染json</span></br>
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
