<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>职业技能 Work Skill</h2>
                
                <div class="item">
                    -<span class="project-tagline">掌握HTML、CSS，有跨设备开发并测试页面的经验，熟练手写符合W3Ｃ标准的结构和代码</span></br>
                </div><!--//item-->
                <div class="item">
                    -<span class="project-tagline">有扎实的Javascript基础，熟练掌握JQuery库，熟练Ajax</span></br>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline">-掌握的JavaScript框架：BackBone、Angular.js、React.js</span></br>
                </div><!--//item-->
                <div class="item">
                    -<span class="project-tagline">熟悉Photoshop切图工具</span></br>
                </div><!--//item-->
                <div class="item">
                    -<span class="project-tagline">掌握项目构建工具：Gulp</span></br>
                </div><!--//item-->
                <div class="item">
                    -<span class="project-tagline">熟练Nodejs相关开发，熟练运用express框架</span></br>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline">-掌握项目管理和协同工具的使用：SVN、Git</span></br>
                </div><!--//item-->
                <div class="item">
                    <span class="project-tagline">-数据库相关：MySQL/Oracle</span></br>
                </div><!--//item-->

                <div class="item">
                    <span class="project-tagline">-对用户体验和交互设计有一定的了解和追求</span></br>
                </div><!--//item-->

    
            </section><!--//section-->
